<div class="starter-template">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Influx Query</label>
            <input class="form-control" id="influxQuery" placeholder="SELECT * FROM influx">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>